<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Show Recipe</title>


        <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}">

        <script th:src="@{/webjars/jquery/3.6.1/jquery.js}"></script>

        <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.js}"></script>


</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="pannel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title" th:text="${recipe.description}">Recipe Description Here!</h1>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Categories:</h5>
                            </div>
                            <div class="col-md-9">
                                <ul th:each="category : ${recipe.categories}">
                                    <li th:text="${category}"></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h5 >Prep Time:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${recipe.getPrepTime()}"></p>
                            </div>
                            <div class="col-md-3">
                                <h5>Difficulty:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${recipe.getDifficulty()}"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Cooktime:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${recipe.getCookTime()}">30 min</p>
                            </div>
                            <div class="col-md-3">
                                <h5>Servings:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${recipe.getServings()}">4</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Source:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${recipe.getSource()}">http://www.example.com</p>
                            </div>
                            <div class="col-md-3">
                                <h5>URL:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${recipe.getUrl()}">http://www.example.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title" >Ingredients</h1>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <ul th:each="ingredient : ${recipe.getIngredients()}">
                                    <li th:text="${ingredient.getDescription()}">1 Cup of milk</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title" >Directions</h1>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p th:text="${recipe.getDirections()}"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title" >Notes</h1>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p th:text="${recipe.getNotes().getRecipeNotes()}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>